
{% load static %}
<link rel ="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    
</head>
<body>
    
<b><h1>Hi you are on the page</b></h1>

    <p>Hi, This is Abrar Javed Sorafi</p>

    <p>Welcome to my practice Arena</p>


<hr>
<div class="personal">
            
    <img src="static/abrar.jpg"> 
    
</div>
<h2>My Projects</h2>




<li>Title: <a href = "{% url 'wordcount' %}">Word Count</a></li>
<li>Title: <a href = "{% url 'css' %}">CSS</a></li>
<p></p>
<p><h2>Club</h2></p>
<li>Title: <a href = "{% url 'clubs' %}">CLUB Members</a></li>
<li>Title: <a href="{% url 'create_project' %}">Add CLUB Member</a>


<h4>Mainly this is my practice arena<br>for Web Development.</h4>
</body>
</html>


